--index-url https://pypi.tuna.tsinghua.edu.cn/simple

numpy>=2.3.3
scipy>=1.16.2
matplotlib>=3.11.1
PyVISA>=1.16.2
PyVISA-py>=0.8.1
pyusb>=1.3.0        # USBTMC 设备支持
zeroconf>=0.150.0   # TCPIP HiSLIP 自动发现
pyserial>=3.5       # Keithley 2400 RS-232 控制
pillow>=12.3.0      # 把 emoji 渲染为窗口图标
